*{
    margin: 0;
    padding: 0;
}
.fixed-width{
    width: 1024px;
    margin: auto;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
/* Header Start */
.header{
    background: #fff;
}
.header .logo{
    width: 25%;
}
.header .logo img{
    width: 100px;
    height: 55px;
}

.header .menu{
    width: 70%;
}
.header .menu ul{}
.header .menu ul li{
    display: inline-block;
    padding: 20px 20px;
}
.header .menu ul li a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.header .menu ul li a:hover{}
/* Header End */
/* Banner Start */
.banner{
    background-image: url(https://i.ibb.co/z6sRsqC/438159144-3911810072379793-895753429752999399-n.jpg);
    color: #fff;
    padding: 120px 0;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    z-index: 4;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}
.banner .text{}
.banner .text p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.banner .text h1{
    margin: 20px 0;
}
.button{
    background: #fff;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    transition: .5s;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
}
.button a{
    text-decoration: none;
    line-height: 50px;
    color: #928580;
}
.banner .button a i{
    margin-right: 10px;
}
.banner .button:hover{
    background: #e1a23e;
}
.banner .button:hover a{
    color: #fff;
}
/* Banner End */
.pricing-section{
    background: #f7f7f7;
    padding: 50px;
}
.pricing-section .heading-text{
    padding: 0 0 30px 0;
}
.pricing-section .heading-text h1{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 400;
}
.pricing-section .heading-text p{ 
    color: #928580;
    font-size: 18px;
}
.pricing-items{}

.pricing-items .items{}
.items{
    width: 32%;
    margin-right: 2%;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 3px 25px -8px rgba(135, 135, 255, .5);
}
.items:last-child{
    margin-right: 0;
}
.p-heading{
    padding: 30px;
    border-bottom: 1px solid #ddd;
    transition: .5s;
}
.p-heading h4{
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 20px;
}
.p-heading h1{
    font-size: 50px;
    margin: 20px 0;
    background: #f5f5f5;
    transition: .5s;
}
.p-heading h1 span{
    font-size: 30px;
}
.p-heading h5{
    font-weight: 200;
    font-size: 20px;
    margin: 20px 0;
}
.p-heading p{
    font-size: 20px;
    font-weight: 200;
    color: #928580;
    transition: .3s;
}
.p-content{
    padding: 30px;
}
.p-content ul{
    list-style: none;
}
.p-content ul li{
    margin: 10px 0;
}
.p-content ul li span{
    display: inline-block;
    font-size: 30px;
    width: 40px;
    color: #e79230;
}
.p-btn{
    margin-bottom: 40px;
}
.p-btn a{
   text-decoration: none;
   color: #928580;
   font-weight: 900;
   line-height: 50px;
}
.p-btn .button{
    box-shadow: 0px 6px 21px -10px blue;
    transition: .5s;
}

.items:hover .p-heading{
    background: #e79230;
    color: #fff;
}
.items:hover .p-heading p{
    background: #e79230;
    color: #fff;
}
.items:hover .p-heading h1{
    background: #e79230;
    color: #fff;
}
.items:hover .p-btn .button{
    background: #e79230;
    color: #fff;
}
/* team-section start */
.team-section{
    padding: 50px 0;
}
.heading-text{
    text-align: center;
}
.heading-text p{
    max-width: 600px;
    margin: auto;
}
.heading-text h1{
    margin-bottom: 30px;
}
.members{
    padding: 20px 0;
}
.member{
    width: 23%;
    border: 5px double #e79230;
    margin-right: 2%;
    box-sizing: border-box;
}
.member:last-child{
    margin-right: 0;
}
.member img{
    height: 200px;
}
.m-text{
    padding: 20px;
}
.m-text h4{
    margin-bottom: 10px;
}
.m-text p{}
/* team-section end */

/* subscription-section start */
.subscription-section{
    background-color: #f5f5f5;
    text-align: center;
    padding: 70px;
}
.heading-text{}
.heading-text p{
    margin-bottom: 30px;
    font-size: 20px;
    color: #928580;
}
.subscription-section input{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #aa972c;
}
.button-edit{
    background-color: #aa972c;
    width: 200px;
    transition: .4s;
    border: 2px solid transparent;
}
.button-edit a{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    transition: .4s;
}
.button-edit:hover.button-edit{
    background: #fff;
    border: 2px solid #aa972c;
}
.button-edit:hover.button-edit a{
    color: #d4c04f;
    font-weight: bold;
}
/* subscription-section end */
/* Choose-Section start */
.Choose-Section{
    padding: 20px 0;
}
.reason{}
.r-img{
    width: 45%;
    margin-right: 2%;
}
.r-img img{
    max-width: 100%;
}
.cr-text{
    width: 50%;
}
.r-text{
    margin-bottom: 20px;
}
.r-text h5{
    margin-bottom: 20px;
    font-size: 25px;
}
.r-text p{
    font-size: 18px;
    line-height: 34px;
}
/* Choose-Section end */
/* Feedback-Section start */
.feedback-section{
    background: #f5f5f5;
    padding: 70px 0;
}
.f-users{
    margin-top: 50px;
}
.user{
    width: 32%;
    border: 1px solid #cbcbcc;
    margin-right: 2%;
    box-sizing: border-box;
}
.user:last-child{
    margin-right: 0;
}
.u-text{
    background: #fff;
    padding: 20px;
    box-shadow: 2px 3px 10px 4px rgba(0, 0, 255, .3);
    position: relative;
}
.u-text p{
    font-size: 20px;
    line-height: 2em;
    color: #b1b1b1;
    position: relative;
}
.u-text p::before{
    content: "\f10d";
    font-family: "FontAwesome";
    position: absolute;
    font-size: 60px;
    color: rgba(180, 180, 181, .2);
    left: -11px;
    top: -5px;
}
.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 30px 0 30px;
    border-color: #FFf transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    left: 105px;
    top: 100%;
}
.u-info{
    margin-top: 40px;
}
.u-info img{
    max-width: 50px;
    border: 5px solid #aa972c;
    margin-left: 60px;
}
.u-text-sub{
    margin-right: 110px;
    margin-top: 10px;
    display: inline-block;
    padding-bottom: 30px;
}
.u-text-sub h5{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}
.u-text-sub p{}
/* Feedback-Section end */
/* Contact Us start */
.contact-us{
    padding: 50px 0;
}
.contact-us form{}
.contact-us form input{
    width: 400px;
    padding: 10px;
    border: 1px solid #aa972c;
    margin-bottom: 20px;
    border-radius: 10px;
}
.contact-us form textarea{
    width: 400px;
    padding: 10px;
    border: 1px solid #aa972c;
    margin-bottom: 20px;
    border-radius: 10px;
}
/* Contact Us end */
.footer{
    padding: 20px 0;
}